/* CSS for Tricia Gray's Soap Recipe Resource */

html {
  margin: auto;
  padding: auto;
}

body {
  font-family: Monotype Corsiva;
  font-size: 17pt;
  color: #2d4084;
	background-image: url("images/background.jpg");
	background-color: #5a53ad;
	margin: auto;
  padding: auto;
  width: 100%;
  display: table;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

p {
  margin-top: 0;
  text-align: justify;
}

h1 {
  margin: none;
  font-size: 60pt;
  color: #ffc9ff;
  padding: none;
}

img {
  float: right;
  margin: 0 0 10px 10px;
}

a:link {
  font-weight: bold;
  text-decoration: none;
  color: #7f5084;
}

a:visited {
  font-weight: bold;
  text-decoration: none;
  color: #4c3ee8;
}

a:hover, a:focus, a:active {
  text-decoration: underline;
  color: #968dfc;
}

input[type="text"] {
  height: 30px !important;
  width: 200px !important;
  font-size: 20px !important;
}

input[type="number"] {
  height: 20px !important;
  width: 50px !important;
  font-size: 20px !important;
}

footer {
  color: #883f8c;
  text-align: right;
  padding: 15px 15px 15px 15px;
}

div {
  width: 90%;
  margin: auto;
  font-size: 17pt;
  padding: 15px 15px 15px 15px;
  background-color: #ffc9ff;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
  border-radius: 15px;
  border: 3px solid #883f8c;
}

th {
  text-align: right;
  font-size: 17pt;
}

tr {
  font-size: 17pt;
}

button {
  border: 3px solid #883f8c;
  border-radius: 15px;
  font-family: Monotype Corsiva;
  color: #2136AE;
  background-color: #ffc9ff;
  padding: 5px 10px;
  text-align: center;
  display: inline-block;
  font-size: 36px;
  margin: 4px 2px;
  cursor: pointer;
}

.oils {
  border-bottom:1px solid black;
  border-top:1px solid black;​
}

#recipe {
  text-align: right;
  width: 90%;
  margin: auto;
  font-size: 17pt;
  padding: 15px 15px 15px 15px;
  background-color: #e3e0ff;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
  border-radius: 15px;
  border: 3px solid #883f8c;
}

#titleheader {
  width: 100%;
  color: #2136AE;
  padding: 0px;
  margin: 0px;
  height: 100px;
  background-color: #3A0389;
  box-shadow: none;
  border-radius: 0px;
  border: none;
}

#titleheaderleft{
  text-align: left;
  vertical-align: text-top;
}

#titleheaderright{
  text-align: right;
  vertical-align: top;
}
